# Redis 连接配置
# 格式: redis://default:password@host:port
# 必填项
REDIS_CONN_STRING=redis://default:your_secure_password@redis:6379

# 面板访问密码
# 为了安全，此配置必填！
ACCESS_PWD=your_secure_access_password

# 服务端口
# 可选项，默认为 8080
PORT=8080
